TMDB_API_KEY=
MOCTALE_COOKIE=

NEXT_PUBLIC_APP_NAME=Meowly
NEXT_PUBLIC_APP_URL=https://meowly.qzz.io
NEXT_PUBLIC_AD_SCRIPT_URLS=//fi.chaufergabelle.com/rnoAntQzBel2t/151988,//mr.acktontables.com/svXxFoBaWzN/153387,//ri.thlaspiyeaoman.com/iZvpfdi16luL/153388

COMPOSE_PROJECT_NAME=meowly
COMPOSE_FILE=docker-compose.local.yml
